<%= link_to 'New Todo', {action: 'new'} %><br />
<ul>
  <% @todos.each do |todo| %>
  <li><%= link_to todo.todo_title, {:action => 'view', :id => todo.id } %></li>
    <p><%= todo.todo_text %></p>
  <% end %>
</ul>
